body{
    margin:0;
    padding:0;
    background-color: chartreuse;
}
.cart{
    width: 100%;
    height: 250px;
    background-color: purple;
    display: none;
    position: fixed;
    z-index: 1;
}
.shop_info{
    width: 100%;
    height: 200px;
    background-color: greenyellow;
}
.shop{
    width:100%;
    min-height: 1500px;
    background-color: rgb(1, 255, 60);
}
.sale{
    height: 700px;
    background-color: lightcyan;
}
.sale-image{
    width:100%;
    height:200px;
    margin: 0 auto;
    max-width:370px;
}
.sale-image img{
    width:100%;
    height: 100%;
}
.sale p{
    color:black;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.sale h2{
    text-align: center;
}
.arrows{
    width: 100%;
    background-color: rgb(124, 168, 255);
    height: 40px;
}
.arrows-left{
    width:33.33%;
    height: 40px;
    float:left;
    margin:0;
    padding:0;
    background-image: url("arrow.png");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 6.5px;
    opacity: 0.3;
}
.arrows-mid{
    width:33.33%;
    height: 40px;
    float:left;
    margin:0;
    padding:0;
}
.arrows-mid h4{
    color:red;
    text-align: center;
}

.arrows-right{
    width:33.33%;
    height: 40px;
    float:right;
    margin:0;
    padding:0;
    background-image: url("arrow.png");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 6.5px;
    transform:rotate(180deg);
}
.button{
    margin: 15px auto;
    background-color: greenyellow;
    border-radius: 8px;
    height: auto;
    padding: 8px;
    width: auto;
    text-align: center;
    max-width: 220px;
    box-shadow: 1px 2px yellowgreen;
}

